$color: blue;
$alternate: red;
$colorLight: lighten($color, 20%);
$colorDark: darken($color, 20%);
$colorcomplement: complement($color);
$complementLight: lighten($colorcomplement, 35%);
$alternateLight: lighten($alternate, 20%);
$alternateDark: darken($alternate, 20%);
$alternateComplement: complement($alternate);
$purple: purple;
$purpleDark: darken($purple, 10%);

.header {
  color: $alternateLight;
  text-shadow: .1em .1em .1em $alternateDark, -.1em -.1em .1em $alternateDark;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  margin: 1.5em;
  font-weight: bold;
}

.inputForm {
  opacity: .5;
}

.input-group{
  height: 3em;
  font-weight: bold;
}

section.title {
  display: flex;
  align-self: center;
}

.card {
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 3em;
  background-color: rgba($purpleDark, .7)
}

h4{
  color: white;
  margin-left: 5em;
  margin-right: 5em;
}

img.card-img-top {
  height: auto;
  width: 100%;
}

div.Democrat {
  background-color: rgba($colorDark, .7);
  color: $colorcomplement;
}


div.Republican {
  background-color: rgba($alternateDark, .7);
  color: $alternateComplement;
}

a{
  text-decoration: none;
  color: white
}

.footer{
  background-color: rgba(255, 255, 255, 1);
  opacity: .5;
  color: $alternateLight;
  text-shadow: .1em .1em .1em $alternateDark;
}

body{
  background-image: url("../United_States_Capitol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(220,220,220, 1);
  min-height: 100vh;

}
