$color: blue;
$alternate: red;
$colorLight: lighten($color, 20%);
$colorDark: darken($color, 20%);
$colorcomplement: complement($color);
$complementLight: lighten($colorcomplement, 35%);
$alternateLight: lighten($alternate, 20%);
$alternateDark: darken($alternate, 20%);
$alternateComplement: complement($alternate);
$purple: purple;
$purpleDark: darken($purple, 10%);
$purpleCompliment: complement($purple);

$error: lighten($alternate, 15%);

.header {
  color: $alternateLight;
  text-shadow: .1em .1em .1em $alternateDark, -.1em -.1em .1em $alternateDark;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  margin: 1.5em;
  font-weight: bold;
}

.state {
  height: 2em;
  width: 5em;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.inputForm {
  opacity: .8;
}

.input-group{
  height: 3em;
  font-weight: bold;
}

.hideInput{
  display: none
}

.hide {
  display: none;
}

.errorMsg {
  color: white;
  text-shadow: .1em .1em .1em black, -.1em -.1em .1em black;
  margin-bottom: 2em;
}

.title {
  display: flex;
  align-self: center;
  color: white;
  text-shadow: .1em .1em .2em black, -.1em -.1em .2em black;
  font-weight: bolder;
}

.card {
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 3em;
  background-color: rgba($purpleDark, .7);
  color: white;
  text-shadow: .1em .1em .1em black;
}

.card-header {
  background-color: rgba(0,0,0,0);
}

h4{
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bolder;
}

img.card-img-top {
  height: auto;
  width: 100%;
  box-shadow: .1em .1em .2em black;
}

div.Democrat {
  background-color: rgba($colorDark, .7);
  color: white;
}


div.Republican {
  background-color: rgba($alternateDark, .7);
  color: white;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: white;
  } a:hover {
      text-decoration: none;
      font-weight: bolder;
      font-size: 1em;
      color: $alternateComplement;
      text-shadow: .1em .1em .1em $purpleDark;
      }


.footer{
  background-color: rgba(255, 255, 255, 1);
  opacity: .5;
  color: $alternateLight;
  text-shadow: .1em .1em .1em $alternateDark;
}

body{
  background-image: url("../United_States_Capitol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(220,220,220, 1);
  min-height: 100vh;

}
