$color: blue;
$alternate: red;
$colorLight: lighten($color, 20%);
$colorDark: darken($color, 20%);
$colorcomplement: complement($color);
$complementLight: lighten($colorcomplement, 20%);
$alternateLight: lighten($alternate, 20%);
$alternateDark: darken($alternate, 20%);
$alternateComplement: complement($alternate);


.header {
  color: $alternateDark;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card {
  padding: 1em;
}
