$color: grey;
$alternate: red;
$colorLight: lighten($color, 20%);
$colorDark: darken($color, 20%);
$colorcomplement: complement($color);
$complementLight: lighten($colorcomplement, 35%);
$alternateLight: lighten($alternate, 20%);
$alternateDark: darken($alternate, 20%);
$alternateComplement: complement($alternate);


.header {
  color: $alternateLight;
  text-shadow: .1em .1em .1em $alternateDark;
  margin-top: 2em;
  margin-bottom: 2em;
}
h1 {
  margin: 1.5em;
}

.inputForm {
  opacity: .5;
}

.input-group{
  height: 3em;
  font-weight: bold;
}

.card {
  margin-top: 2em;
  margin-left: 3em;
  background-color: rgba(255, 255, 255, .9);
}

img.card-img-top {
  height: auto;
  width: 250px;
}


.footer{
  background-color: white;
  opacity: .5;
  color: $alternateLight !important;
  text-shadow: .1em .1em .1em $alternateDark !important;
}


body{
  background-image: url("../United_States_Capitol.jpg");
  background-repeat: no-repeat;
  background-size: height 100%;
  background-position: top;
}
