$color: grey;
$alternate: red;
$colorLight: lighten($color, 20%);
$colorDark: darken($color, 20%);
$colorcomplement: complement($color);
$complementLight: lighten($colorcomplement, 35%);
$alternateLight: lighten($alternate, 20%);
$alternateDark: darken($alternate, 20%);
$alternateComplement: complement($alternate);


.header {
  color: $alternateLight;
  text-shadow: .1em .1em .1em $alternateDark;
  margin-top: 2em;
  margin-bottom: 2em;
}
h1 {
  margin: 1.5em;
}

.inputForm {
  opacity: .5;
}

.card {
  padding: 1em;
  background-color: white;
}

.footer{
  background-color: white;
  opacity: .5;
  color: $colorcomplement
}

body{
  background-image: url("../United_States_Capitol.jpg");
  background-position: top;
  background-repeat: no-repeat;
}
